@font-face {
    font-family: 'Bruno-Ace';
      src:url("../src/Bruno-Ace.ttf.eot");
      src:  url("../src/Bruno-Ace.ttf.woff") format('woff'),
      url("../src/Bruno-Ace.ttf.svg#Bruno-Ace") format('svg'),
      url("../src/Bruno-Ace.eot?#iefix") format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
  }

body {
    background-color: #bfbcb5;
    font-family: 'Merriweather Sans';
}
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    color: aliceblue;
    background-size: cover;
    z-index: 10;
  }
.navbar-brand {
    padding: 10px 0px 0px 30px; 
    font-family: 'Bruno-Ace', 'Black Ops One', cursive;
    font-size: 28px;
    text-align: center;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
.nav-link {
    padding: 5px;
    font-size: 20px;
    width: 125px;
    height: 35px;
    background-color: #227016;
}
h1 {
    font-size: 28px;
    text-align: center;
    margin: 8px;
    font-family: 'Bruno-Ace', 'Black Ops One', cursive;
    color: #227016;
}