@font-face {
    font-family: 'Bruno-Ace';
      src:url("../src/Bruno-Ace.ttf.eot");
      src:  url("../src/Bruno-Ace.ttf.woff") format('woff'),
      url("../src/Bruno-Ace.ttf.svg#Bruno-Ace") format('svg'),
      url("../src/Bruno-Ace.eot?#iefix") format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
  }

body {
    background-color: #f3e9d1;
    font-family: 'Merriweather Sans';
}
.customNav {
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    color: aliceblue;
    background-size: cover;
    z-index: 10;
  }
.hbh {
  height: 60px;
}
.navbar-brand {
    padding: 10px 0px 0px 20px; 
    font-size: 28px;
    text-align: center;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .nav-item {
    width: 125px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  .buttonMenu {
    background-color: #1928af !important;
    width: 125px;
  }
.nav-link {
  color:whitesmoke !important;
  font-family: 'Merriwaether Sans', Arial, Helvetica, sans-serif;
}

.jumbotron {
  background-image: url("../images/homebrewing-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3e9d1;
  margin: 10px auto;
  justify-content: center;
  height: 300px;
}
.text-background {
  display: inline-block;
  width: 350px;
  height: 125px;
  background-color: rgba(252, 248, 241, 0.603);
  display: flexbox;
}
.text-background-eq {
  display: inline-block;
  width: 350px;
  height: 125px;
  background-color: rgba(252, 248, 241, 0.703);
  display: flexbox;
}
.col-sm-3 {
  margin: 0px 5px 0px 5px;
}

footer {
  background-color: #ccb276;
}
.btn-sm {
  background-color: #1928af !important;
  background-size: cover;
  color: white;
}
p {
  font-size: 14px;
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}
.jumbotron2 {
  background-image: url("../images/equipment-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3e9d1;
  margin: 10px auto;
  justify-content: center;
  height: 150px;
}
.jumbotron3 {
  background-image: url("../images/nb-categpry-header_ipa-beer-kits.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3e9d1;
  margin: 10px auto;
  justify-content: center;
  height: 200px;
}
.row {
  padding-left: 20px;
  padding-right: 20px; 
}
h1 {
  font-size: 36px;
  text-align: center;
  margin: 8px;
  font-family: 'Merriweather', serif;
  font-weight: 800;
  color: #1928af;
}
h2 {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #1928af;
}
h3 {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}
h4 {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}